/* responsive header */
@media (max-width: 546px) {
    .header {
        background-image: url(./assets/imagens/fundo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
    }

    .header-button{
        display: flex;
        justify-content: space-evenly;
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #git, #link, #insta {
        margin-top: 25px;
        height: auto;
    }
}

@media (max-width: 425px) {
    #git,#link, #insta {
        margin-top: 25px;
        height: 15px;
    }
}

@media (max-width: 375px) {
    #git,#link, #insta {
        margin-top: 25px;
        height: 29px;
    }
}
/* finish header */

/* section responsive */

@media(max-width: 992px) {
    .dados{
        margin-top: 20%;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 520px) {
    .dados{
        flex-direction: column;
        margin-top: 25%;
    }
}

@media(max-width: 448px) {
    .dados {
        margin-top: 40%;
    }
}


@media(max-width: 375px) {
    .dados {
        margin-top: 50%;
    }
}
